.content_container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 800px;
    gap: 5%;
    justify-content: space-between;
}
.Exprience {
    padding: 90px 0 100px;
    background: #80808010;
}

.eduction_section {
    padding: 90px 0 100px;
}
.exp_details {
    flex-basis: 77%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:2%;
}
.company {
    flex-basis: 92%;
   
}
.company h4{
    font-weight: 600;
    margin-bottom: 10px;
}
.company p{
    position:relative;
}
.company p:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 95%;
    background:#000;
    left: -6%;
    right: auto;
    top: 2%;
}
.dark .company p:before {
    background:#fff;
}
.mb-5{
    margin-bottom: 30px;
}
.date{
    flex-basis: 18%;
    text-align: end;
}

.circle{
    width: 25px;
    margin-top: 3px;
    height: 25px;
    background: var(--orange);
    padding: 0;
    border-radius: 50%;
    flex-basis: 5%;
}

@media screen and (max-width:1024px){
    .eduction_section, .Exprience{
        padding: 70px 0 80px;
    }
}
@media screen and (max-width:767px){
    .exp_details, .date {
        flex-basis: 100%;
    }
    .Exprience,
    .eduction_section {
        padding: 60px 0;
    }
  
    .content_container {
        gap: 20px;
    }
}
