.Intro{
display: flex;
margin: 0 auto 0;
padding: 120px 0 100px;
}
.about_section {
    padding: 120px 0 100px;
}
.Intro h4{
    margin-top: 20px;
}
.i-left{
display: flex;
position: relative;
flex-direction: column;
flex: 1;
gap:28px ;
}

.i-name{
display: flex;
flex-direction: column;
}

h1:nth-child(2){
color: var(--orange);
}
.i-icons{
margin-top: 3rem;
display: flex;
gap: 0;
display: none;
}

.i-icons>*{
transform: scale(0.5);

}
.i-icons>*:hover{
cursor: pointer;
}
/* STYLING RIGHT SIDE */
.i-right{
/* display: flex; */
flex: 1;
position: relative;
}
.i-right>*{
position: absolute;
z-index: 1;
}
.i-right>:nth-child(1){
transform: scale(0.69);
left: -15%;
top: -9%;
}
.i-right>:nth-child(2){
transform: scale(0.6);
left: -3rem;
top: -4rem;
}
.i-right>:nth-child(3){
transform: scale(1.4);
left: 28%;
z-index: 100;
}
.float1{
top: 73%;
}
.float2{
top: -2%;
left: 65%;
} 
.floating{
justify-content: space-around;
display: flex;
background-color: white;
box-shadow: var(--boxShadow);
border-radius: 17px;
align-items: center;
padding: 0px 28px 0px 0px ;
height: 4.5rem;

}
.floating>img{
transform: scale(0.4)
;
}
.floating>span{
font-family: sans-serif;
font-size: 16px;  
}
.i-right>:nth-child(4){
transform: scale(0.4);
top: -19%;
border-radius: 50%;
left: -24%;
padding: 0;

}
.blur{
position: absolute;
height: 15rem;
width: 10rem;
border-radius: 50%;
background: #edd0ff;
z-index: -9;
top: -18%;
left: 60%;
filter: blur(72px);
}
@media screen and (max-width:1024px){

.i-right{
position: relative;
}
.i-right{
transform:scale(0.8);
}
.i-left{
gap:30px ;
}
.blur{
display: none;
}
.floating>img {
width: 34px;
transform: scale(1);
margin-right: 15px;
}
.float2{
top: -5rem !important
} 
.i-icons {
margin-top: 0;
}
.float1 {
top: 380px;
}
.floating {
justify-content: space-around;
display: flex;
background-color: white;
box-shadow: var(--boxShadow);
border-radius: 12px;
align-items: center;
padding: 15px;
height: auto;
}

.about_section {
padding: 60px 0 80px;
}
}

@media screen and (max-width:767px){
    .Intro{
        flex-direction: column;
        gap: 3rem;
        padding: 30px 0 370px;
        }  
    .i-right>:nth-child(1) {
        left: -5%;
    }
    .i-right>:nth-child(2) {
        left: -1rem;
    }
    .i-right>:nth-child(3) {
        left: 33%;
    }

    .about_section {
      padding: 60px 0 ;
      }
}

@media screen and (max-width:399px){
.i-right>:nth-child(1) {
left: -30%;
top: -9% !important;
}
.i-right>:nth-child(2) {
left: -4rem;
top: -5rem;
}
.i-right>:nth-child(3) {
transform: scale(1.3);
left: 20%;}
}


.border-animate {
    position: relative;
    display: inline-block;
    padding: 10px;
  }
  
  .border-animate::before,
  .border-animate::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background-color: #00c6ff;
    transition: all 0.5s ease;
  }
  
  .border-animate::before {
    top: 0;
    left: 0;
  }
  
  .border-animate::after {
    bottom: 0;
    right: 0;
  }
  
  .border-animate .side {
    position: absolute;
    width: 2px;
    height: 0;
    background-color: #00c6ff;
    transition: all 0.5s ease;
  }
  
  .border-animate .left {
    top: 0;
    left: 0;
  }
  
  .border-animate .right {
    bottom: 0;
    right: 0;
  }
  
  .border-animate.active::before,
  .border-animate.active::after {
    width: 100%;
  }
  
  .border-animate.active .left,
  .border-animate.active .right {
    height: 100%;
  }
